@{
    ViewBag.Title = "用户登陆";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div style="padding: 15px;">
    <div class="layui-container">
        <div class="layui-row" style="margin-bottom: 15px;border-radius: 2px;background-color: #fff;box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);padding:10px 0px;margin:auto 25%;">
            <form class="layui-form" action="/User/Login" method="post">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>用户登陆</legend>
                </fieldset>
                <div class="layui-form-item" style="padding:0% 20%">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Username" placeholder="请输入用户名" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item" style="padding:0% 20%">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="Password" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item" style="padding:0% 20%">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">登陆</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
